--- browser/themes/shared/urlbarView.inc.css.orig	2021-09-24 14:08:01 UTC
+++ browser/themes/shared/urlbarView.inc.css
@@ -74,8 +74,8 @@
   display: block;
   text-shadow: none;
   overflow: clip;
-  margin-inline: calc(5px + var(--urlbar-container-padding));
-  width: calc(100% - 2 * (5px + var(--urlbar-container-padding)));
+  margin-inline: 0;
+  width: 100%;
   /* Match urlbar-background's border. */
   border-inline: 1px solid transparent;
 }
@@ -324,10 +324,10 @@
 
 .urlbarView-type-icon {
   position: absolute;
-  width: 12px;
-  height: 12px;
-  margin-bottom: -4px;
-  margin-inline-start: 8px;
+  width: 16px;
+  height: 16px;
+  margin-bottom: 0px;
+  margin-inline-start: 0px;
   align-self: end;
   background-repeat: no-repeat;
   background-size: contain;
