--- browser/themes/shared/urlbar-searchbar.inc.css.orig	2021-09-24 14:02:08 UTC
+++ browser/themes/shared/urlbar-searchbar.inc.css
@@ -5,7 +5,7 @@
 %endif
 
 %define fieldHoverBorderColor hsla(240,5%,5%,.35)
-%define urlbarMarginInline 0px
+%define urlbarMarginInline 5px
 %define urlbarSearchButtonWidth calc(16px + 2 * var(--urlbar-icon-padding))
 
 :root {
@@ -281,8 +281,8 @@
 @supports -moz-bool-pref("browser.proton.urlbar.enabled") {
 #urlbar[breakout][breakout-extend] {
   top: 0;
-  left: 0;
-  width: 100;
+  left: -@urlbarMarginInline@;
+  width: calc(100% + 2 * @urlbarMarginInline@);
 }
 } /*** END proton ***/
 
@@ -305,8 +305,8 @@
 @supports -moz-bool-pref("browser.proton.urlbar.enabled") {
 #urlbar[breakout][breakout-extend] > #urlbar-input-container {
   height: var(--urlbar-toolbar-height);
-  padding-block: 0;
-  padding-inline: 0;
+  padding-block: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2 + var(--urlbar-container-padding));
+  padding-inline: calc(@urlbarMarginInline@ + var(--urlbar-container-padding));
 }
 } /*** END proton ***/
 
@@ -325,7 +325,7 @@
 }
 
 #urlbar[breakout][breakout-extend] > #urlbar-background {
-  animation-name: none;
+  animation-name: urlbar-grow;
   animation-duration: 0s;
   animation-timing-function: var(--animation-easing-function);
 }
