--- nuget.config.orig	2024-11-14 22:14:58 UTC
+++ nuget.config
@@ -2,7 +2,8 @@
 <configuration>
   <packageSources>
     <clear />
-    <add key="powershell" value="https://pkgs.dev.azure.com/powershell/PowerShell/_packaging/PowerShell/nuget/v3/index.json" />
+    <add key="FreeBSD runtime" value="/usr/local/share/dotnet/library-packs" />
+    <add key="distfiles" value="/distfiles/nuget" />
   </packageSources>
   <disabledPackageSources>
     <clear />
